<%-include('userHeader')%>
<!--End Mobile Menu-->
<div class="form-data">
  <div class="form-container">
    <form method="post" id="addAddressForm" action="/addNewAddress">
      <div class="form-group">
        <label>Mobile Number</label>
        <input
          class="form-control"
          type="Number"
          placeholder="Phone number"
          name="phone"
          id="aNumber"
          oninput="validateAMobile()"
        />
        <span
          class="text-danger d-flex justify-content-center align-items-center"
          id="aNumberError"
        ></span>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input
          class="form-control"
          type="text"
          placeholder="Address"
          name="address"
          id="address"
          oninput="validateAddress()"
        />
        <span
          class="text-danger d-flex justify-content-center align-items-center"
          id="addressError"
        ></span>
      </div>
      <div class="form-group">
        <label>Post code</label>
        <input
          class="form-control"
          type="text"
          placeholder="Post code"
          name="postcode"
          id="post"
          oninput="validatePincode()"
        />
        <span
          class="text-danger d-flex justify-content-center align-items-center"
          id="pinError"
        ></span>
      </div>
      <div class="form-group">
        <label>Select Country</label>
        <select
          class="form-control"
          name="country"
          id="country"
          oninput="validateCountryName()"
        >
          <option>India</option>
          <option>UAE</option>
          <option>SAUDI ARABIA</option>
          <option>Armenia</option>
          <option>Argentina</option>
        </select>
        <span
          class="text-danger d-flex justify-content-center align-items-center"
          id="countryNameError"
        ></span>
      </div>
      <div class="form-group">
        <label>Select State</label>
        <select
          class="form-control"
          name="state"
          id="state"
          oninput="validateCityName()"
        >
          <option>Kerala</option>
          <option>Tamil Nadu</option>
          <option>Sri Lanka</option>
          <option>Utharpredsh</option>
          <option>Utharakhand</option>
        </select>
        <span
          class="text-danger d-flex justify-content-center align-items-center"
          id="cityNameError"
        ></span>
      </div>

      <button type="submit" id="aSubmitButton" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>

<!--End Body Content-->
<script src="../validations/addressValidation.js"></script>
<%-include('userFooter')%>
<!-- Including Jquery -->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendor/jquery.cookie.js"></script>
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/lazysizes.js"></script>
<script src="assets/js/main.js"></script>
