<%-include("userHeader")%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--End Mobile Menu-->

<div class="form-data">
  <h2 style="text-align: center" class="pt-3">Change Password</h2>
  <div class="form-container">
    <form action="/changePassword" method="POST" id="changePassForm">
      <div class="form-group">
        <label>Current Passwoord</label>
        <input
          class="form-control"
          type="password"
          placeholder="password"
          name="password"
          id="password"
          autocomplete="current-password"
        />
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input
          class="f orm-control"
          type="password"
          placeholder="New Password"
          name="newpassword"
          id="newpassword"
          autocomplete="new-password"
        />
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          class="form-control"
          type="password"
          placeholder="New Password"
          name="conpassword"
          id="conpassword"
          autocomplete="new-password"
        />
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>
<script>
  document
    .getElementById("changePassForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the form from submitting in the default way

      const formData = {
        password: document.getElementById("password").value,
        newpassword: document.getElementById("newpassword").value,
        conpassword: document.getElementById("conpassword").value,
      };
      console.log(formData); // Collect form data

      fetch("/changePassword", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(formData),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            Swal.fire({
              icon: "success",
              title: "Success",
              text: data.message,
            }).then(() => {
              window.location.href = "/userProfile"; // Redirect to userprofile route
            });
          } else {
            Swal.fire({
              icon: "error",
              title: "Error",
              text: data.message,
            });
          }
        })
        .catch((error) => {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Something went wrong!",
          });
          console.error("Error:", error);
        });
    });
</script>
<!--End Body Content-->

<!--Footer-->
<%-include("userFooter")%>
