<%-include("userHeader")%>

<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper"><h1 class="page-width">Shopping Cart</h1></div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
        <div class="alert alert-success text-uppercase" role="alert">
          <strong>Oops!!!!! Your cart is empty</strong>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
        <a href="/userProductList"><button class="btn">Shop Now</button></a>
      </div>
    </div>
  </div>
</div>
<!--End Body Content-->

<!--Footer-->
<%-include("userFooter")%>
<!--End Footer-->
