.home-section {
  position: relative;
  background: #fff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.home-section .text {
  display: inline-block;
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
.personal-info {
  padding-left: 20px;
  justify-content: center;
  padding-top: 80px;
}
.personal-info input[type="text"] {
  width: 300px;
  height: 40px;
}
.address-box {
  border: 2px solid hsl(0, 0%, 0%);
  padding: 20px;
  margin-bottom: 10px;
  width: 300px;
  margin-top: 50px;
}
.add-address-btn {
  margin-bottom: 10px;
  margin-top: 50px;
  border-radius: 0 px;
}
.con {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Adjust margin as needed */
}
.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: calc(100vh - 130px);
}
